<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="/static/jquery-1.11.0.min.js" type="text/javascript">
    </script>
  </head>
  <body>
    <div >
      <canvas id="myCanvas" width="600" height="600">
      你的浏览器不支持HTML5
      </canvas>
      <br />
      <button style="width:1s80px;background-color:white;" onclick="copyimage();">识别</button>
      <button style="width:80px;background-color:white;" onclick="clean();">clean</button>
      <br /><br />
    </div>
    
    
    
    <script type="text/javascript">
    var canvas = document.getElementById("myCanvas");
    var ctx = canvas.getContext("2d");
    
    //画一个黑色矩形
    ctx.fillStyle = "black";
    ctx.fillRect(0, 0, 600, 600);
    
    //按下标记
    var onoff = false;
    var oldx = -10;
    var oldy = -10;
    
    //添加鼠标移动事件
    canvas.addEventListener("mousemove", draw, true);
    //添加鼠标按下事件
    canvas.addEventListener("mousedown", down, false);
    //添加鼠标弹起事件
    canvas.addEventListener("mouseup", up, false);
    
    /**
    * 鼠标按下事件
    **/
    function down(event){
    onoff = true;
    //记录鼠标按下时的坐标做画线的起始坐标
    oldx = event.pageX-10;
    oldy = event.pageY-10;
    }
    /**
    * 鼠标弹起事件
    **/
    function up(event){
    onoff = false;
    var oldx = -10;
    var oldy = -10;
    }
    /**
    * 鼠标移动事件
    **/
    function draw(event){
    if(true == onoff){
    //移动时的新坐标做画线的终止坐标
    var newx = event.pageX-10;
    var newy = event.pageY-10;
    //开始画线
    ctx.beginPath();
    //设置画线起点
    ctx.moveTo(oldx, oldy);
    //设置画线终点
    ctx.lineTo(newx, newy);
    //设置画笔颜色
    ctx.strokeStyle = 'white';
    //设置画笔粗细
    ctx.lineWidth = 20;
    //设置笔帽
    ctx.lineCap = "round";
    //完成画线
    ctx.stroke();
    
    //设置本次坐标为下次画线的起始坐标
    oldx = newx;
    oldy = newy;
    }
    }
    
    function clean(event){
    ctx.clearRect(0, 0, 600, 600);
    ctx.fillStyle = "black";
    ctx.fillRect(0, 0, 600, 600);
    }
    
    var img_data = {
        "data":"test"
    }

    function copyimage(event){
    var img_png_src = canvas.toDataURL("image/png");
    $.ajax({
        type:'POST',
        url: '/ann',
        data: img_data["data"]=img_png_src,
        success:function(data){
            alert(data+" ");
        }

    });
    }

    
    // 从 canvas 提取图片 image
    function convertCanvasToImage(canvas) {
    //新Image对象，可以理解为DOM
    var image = new Image();
    // canvas.toDataURL 返回的是一串Base64编码的URL，当然,浏览器自己肯定支持
    // 指定格式 PNG
    image.src = canvas.toDataURL("image/png");
    return image;
    }
    


    </script>
  </body>
</html>